<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="cn.zpro.ware.dao.TestDao">

    <!-- 返回的结果resultMap -->
    <resultMap id="BaseResultMapper" type="cn.zpro.ware.entity.Test1">
        <result property="id" column="id"/>
        <result property="id2" column="id2"/>
        <result property="name" column="name"/>
        <result property="tiny" column="tiny"/>
        <result property="tiny2" column="tiny2"/>
        <result property="sex" column="sex"
                jdbcType="TINYINT"
                javaType="cn.zpro.ware.entity.SexEum"
                typeHandler="cn.zpro.ware.config.SexTypeHandler"/>



        <result property="creatTime" column="create_time"/>
    </resultMap>
    <select id="findList" resultType="cn.zpro.ware.entity.Test1">
        select * from test1
    </select>
</mapper>